*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    /* display: inline-block;
    align-items: center;
    justify-content:center; */
    /* padding-left:50vh;
    min-height: 100vh; */
    /* min-width: 100vw; */
    background-color: black;
    /* background-image: url(img/fondo2.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
}

.contenido{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin-top:5%;
    /* min-width: max-content; */
    /* position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}


section{
    /* position: relative; */
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 2rem 3rem;
    box-shadow: 0 0 60px rgb(56, 56, 56);
    width: 100%;
    height: 100%;
    min-width: fit-content;
    
}


h1{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.nombrepag h1{
    font-size:125px;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;

}

.inputbox label{
    position: absolute;
    /* top: 50%; */
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;

}

/* input:focus~label,input:valid~label{
    top: -5px;
} */

.inputbox input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
 
}

.forget{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}

.forget label{
    display: flex;
    align-items: center;
}

.forget label input{
    margin-right: 3px;
  
}

.forget a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover{
    text-decoration: underline;
}

/* button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color:rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;

} */

#btn{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color:rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    margin-top: 20px;
}

/* button a{
    text-decoration: none;
    color: black;
} */

#btn:hover{
    background-color: rgb(255, 255, 255, 0.5);
}

.register{
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;

}

.register span{
    color: #fff;
    font-weight: 600;
}


.register span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.modal-register{
    position:absolute;
    /* top: 50%;
    right: 25%; */
    /* width: 0%; */
    /* max-width: 700px; */
    width: 900px;
    height: 600px;
    /* background-color: transparent; */
    background-color: black;

    border-radius: 20px;
    backdrop-filter: blur(55px);

    box-shadow: 0 0 60px rgb(56, 56, 56);
    /* border-radius: 4px; */
    overflow: hidden;
    color: white;
    /* position: fixed;  */
    top: 10%;
    right: 20%;
    
    transition: max-height 0.3s;

    max-height: 1;
    padding: 32px 48px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: none;
}

.modal-register-height{
    display: inline;

}

.register-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-register-close{
    position: absolute;
    justify-content: end;
    right: 5%;
}

.register-title i{
    font-size: 40px;
}
/*button close*/

.user-data {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.first-column, .second-column, .third-column{
    padding: 20px 40px 20px 40px;
}

.user-data input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.Birthdate-class[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(1);
    border-radius: 50%;
    padding: 4px;
}

.Birthdate-class[type="date"]::-webkit-calendar-picker-indicator:hover{
    cursor: pointer;
}


.btn-register-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-register{
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background-color:rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    margin: 10px 10px 10px 10px;
}

#btn-register:hover{
    background-color: rgb(255, 255, 255, 0.5);
}

.modal-register-close button{
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 40px;
    transition: all 0.4s ease;
}

.modal-register-close button:hover{
    transform: scale(1.1);
}

.register-file{
    /* width: 0.1px;
	height: 0.1px; */
    width: 100px;
    height: 100px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    top: 350px;
    left: 600px;
}

/* .third-column input{
    color: black;
    
} */

.register-file + label {

    background: transparent;
    /* background: rgb(102, 102, 102); */
    color: transparent;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    /* border-radius: 3px; */
    width: 100px;
    height: 100px;
    /* margin-left: -40px;
    margin-bottom: -100px; */
    position: absolute;
    
}

.register-file + label:hover {
    cursor: pointer;
}

.third-column i{
    /* position: absolute; */
    /* left: 680px;
    bottom: 260px; */
    font-size: 95px;
    transition: all 0.4s ease;
}

.third-column i:hover{
    pointer-events: none;
}

.third-column div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px 10px 5px;
}

.third-column-center p{
    align-items: center;
    justify-content: center;
}

/* @media only screen and (max-width: 768px){ */
@media only screen and (max-width: 900px){
    .nombrepag{
        display: none;
    }
    section{
        width: 95%;
        margin-top: 50px;
    }

}